 # Pandas Sessions :
  # Applied  Session

# How to install pandas :

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\m.s.i\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\m.s.i\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\m.s.i\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\m.s.i\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\m.s.i\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# import pandas

In [2]:
import pandas as pd

# How to load the data in the Jupyter notebook :

## 1- CSV Files:
###  To load data from a CSV file using pandas:


data = pd.read_csv('data.csv')

## 2-   Excel Files:
### To load data from an Excel file (.xlsx format) using pandas:


data = pd.read_excel('data.xlsx', sheet_name='Sheet1')

## 3- JSON Files:
### To load data from a JSON file using pandas:


data = pd.read_json('data.json')

## SQL Databases:
### To load data from an SQL database using pandas:

import sqlite3

#Establish a connection to the database
conn = sqlite3.connect('database.db')

#Query data from the database
query = "SELECT * FROM table_name"
data = pd.read_sql(query, conn)

#Close the connection
conn.close()

# Data structures : series & data frame

## Creating a Series from a list
data = [10, 20, 30, 40, 50]

series = pd.Series(data)

print(series)

## DataFrame

### Dictionary

In [3]:
### From a Dictionary:

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
        
   
df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

###  List of Lists

In [4]:
### From a List of Lists:


data = [['Alice', 25], ['Bob', 30], ['Charlie', 35]]

df = pd.DataFrame(data, columns=['Name', 'Age'])

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### From External Data (CSV, Excel, etc.):
#Creating a DataFrame from a CSV file
df = pd.read_csv('data.csv')

#Creating a DataFrame from an Excel file
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')